.botao{
    background-color: #e46600;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    padding: 15px 10px;
    border: none;
    cursor: pointer;
    color: #fff;
    transition: .5s;
    margin: 16px 0;
}
    
.botao:hover{
    background-color: #fff;
    color: #e46600;
    border: 1px solid #e46600;
}